---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Menu from "../components/Menu.astro";
import Imagenes from "../components/Imagenes.astro";
---

<Layout title="Participa Nobsa">
  <main>
    <Header/>
    <Menu/>
    <Imagenes/>
  </main>
</Layout>
