<header>
  <div
    class="relative isolate overflow-hidden bg-gray-900 py-2 sm:py-10 flex items-center"
  >
    <img
      src="./logo.png"
      alt="Logo"
      class="absolute z-1 h-full w-full object-cover object-center opacity-35"
    />

    <div
      class="relative z-10 mx-auto max-w-7xl px-6 lg:px-8 w-full text-center"
    >
      <h2 class="text-4xl font-bold tracking-tight text-white sm:text-6xl">
        <span
          class="bg-clip-text text-transparent bg-gradient-to-r from-indigo-500 via-red-500 to-white"
        >
          MENÚ PARTICIPA
        </span>
      </h2>

      <div
        class="relative z-10 mx-auto max-w-md px-4 py-2 mt-4 bg-white bg-opacity-90 text-black rounded-md"
      >
        <p>
          Dentro del menú, puedes encontrar una sección dedicada a la
          participación en eventos y actividades.
        </p>
      </div>
    </div>
  </div>
</header>
